body {
  margin-top: 25px;
}
#suggestresults {
  position: absolute;
  width: 300px;
  z-index: 1001;
  background: white;
  right: 0;
  top: 35px;
  border: thin solid #d3d3d3;
}
#inputAddress {
  width: 300px;
}
#searchgroup {
  position: relative;
}

.circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-box-sizing: border-box;
  border: solid 10px rgba(255, 255, 255, 0.2);
  border-top-color: #FFF;
  -webkit-animation: spin 1s infinite linear;
  margin: auto auto;
  top: 200px;
}

@-webkit-keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg); 
  } 
} 

.loading {
  z-index: 1001;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,.6);
}
