body {
  margin-top: 25px;
}
#suggestresults {
  position: absolute;
  width: 300px;
  z-index: 1001;
  background: white;
  right: 0;
  top: 35px;
  border: thin solid #d3d3d3;
}
#inputAddress {
  width: 300px;
}
#searchgroup {
  position: relative;
}